.taskList {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    &__container {
        max-height: 700px;
        overflow-y: scroll;
    }
    &__item {
        border: 7px solid #f4f8ff;
        border-radius: 13px;
        margin-bottom: 10px;
    }
}
